:root {
    --greyscale1: #ffffff;
    --greyscale2: #aaaaaa;
    --greyscale3: #333333;
    --greyscale4: #000000;
    --color0: #CCBBAA;
    --color1: #AA9988;
    --color2: #887766;
    --color3: #665544;
    --color4: #443322;
}

.javascript-project {
    box-sizing: border-box;
    border: 3px solid var(--color4);
    border-radius: 10px;
    padding: 1em 2em 0;
    overflow: hidden;
    width: 50em;
    margin: 0 auto 1em;
    background-color: var(--color0);
}

.left-half {
    width: 50%; text-align: center; float: left; margin: 0.5em 0; display: block; clear: left;
}

.right-half {
    width: 50%; text-align: center; float: right; margin: 0.5em 0; display: block; clear: right;
}

.full-width {
    width: 100%; text-align: center; margin: 0.5em 0; display: block; clear: both; overflow: hidden;
}

input[type="number"], input[type="text"] {
    height: 2em;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;   
    outline: none;
}

input[type="number"]:focus, input[type="text"]:focus {
    box-shadow: 1px 1px 1px #333333;
}


button {
    font-weight: bold;
    width: 10em;
    height: 2em;
    border-radius: 5px;
    text-align: center;
    color: var(--color4);
    background-color: var(--color1);
    display: block;
    margin: 0 auto;
    outline: none;
    border-color: var(--color1);
}

button:hover {
    box-shadow: 3px 3px 2px #333333;
    transition: 0.05s ease;
}

button:active {
  position: relative;
  left: 3px; top: 3px;
  box-shadow: 1px 1px 1px #333333;
}

.convert-result {
    min-height: 1.2em;
}

.short-number-input {
    width: 5em;
}

.long-number-input {
    width: 20em;
}