/* 
#CAE4DB, #7A9D96, #DCAE1D, #00303F, #62847d, #b59017
*/

:root {
	--greyscale1: #ffffff;
	--greyscale2: #aaaaaa;
	--greyscale3: #333333;
	--greyscale4: #000000;
	--color0: #CCBBAA;
	--color1: #AA9988;
	--color2: #887766;
	--color3: #665544;
	--color4: #443322;
}

h1, h2, h3, h4, h5, h6, p, label, a {
    text-align: center;
    color: var(--color4);
}

div, body {
	margin: 0;
	padding: 0;
}

body {
    background-color: var(--color1);
}

#main {
    margin-top: 3.5em;
}

#nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;  
  justify-content: center;
  padding: 4em 0;
  background-color: var(--color4);
}

.nav-links {
  font-size: 1em;
  width: 8em;
  height: 8em;
  border: 2px solid var(--color0);
  background-color: var(--color1);
  color: var(--color4);
  text-decoration: none;
  margin: 1em 3em;
  border-radius: 50%;
  font-weight: bold;
  line-height: 8em;  
}

.nav-links:hover {
  background-color: var(--color0);
}

