/* 
#CAE4DB, #7A9D96, #DCAE1D, #00303F, #62847d, #b59017
*/

:root {
	--greyscale1: #ffffff;
	--greyscale2: #aaaaaa;
	--greyscale3: #333333;
	--greyscale4: #000000;
	--color0: #CCBBAA;
	--color1: #AA9988;
	--color2: #887766;
	--color3: #665544;
	--color4: #443322;
  --color5: #DDCCBB;
}

h1, h2, h3, h4, h5, h6, p, label, a {
    text-align: center;
    color: var(--color4);
}

li {
  color: var(--color4);
}

div, body {
	margin: 0;
	padding: 0;
}

body {
    background-color: var(--color1);
}

#nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;  
  justify-content: center;
  padding: 4em 0;
  background-color: var(--color4);
}

.nav-links {
  font-size: 1em;
  width: 8em;
  height: 8em;
  border: 2px solid var(--color0);
  background-color: var(--color1);
  color: var(--color4);
  text-decoration: none;
  margin: 1em 3em;
  border-radius: 50%;
  font-weight: bold;
  line-height: 8em;  
}

.nav-links:hover {
  background-color: var(--color0);
}

#blog-container {  
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.introduction {
  order: 1;
}

.blog-entry {
  max-width: 75em;
  text-align: justify;
  background-color: var(--color0);
  border-radius: 1em;
  padding: 0.25em 5em;
  margin: 0 0 0.5em;
  box-sizing: border-box;
  border: 3px solid var(--color4);
}

.blog-entry > p {
  text-align: justify;
}

.blog-entry .date {
  float: right;
  font-size: 0.75em;
}

.acronym {
  border-bottom: 1px dotted;
}

li {
  margin-bottom: 0.5em;
}

code {
  background-color: var(--color5);
  border-radius: 0.25em;
}